@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../fonts/offbit/style.css");

:root {
  background-color: #1A1A1A;
} 

.hero {
  background-image: url("/landingbackground.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: normal;
  background-repeat: no-repeat;
}